* {
  padding: 0;
  margin: 0;
  direction: rtl;
  box-sizing: border-box;
  font-family: yekan;
}

:root {
  --primary-color: #717170;
  --secondary-color: #09002d;
  --link-pointer-color: #ff463e;
  --text-color: #4b4b4a;
  --background-color: #ffffff;
  --black-color: #09002d;
  --price-color: #ff322f;
  --lighter-link-color: #717170;
  --original-price-color: #09002d;
  --discount-price-color: #ff4617;
  --crossed-price-color: #717170;
  --icon-and-footer-link-color: #656564;
}

body {
  background-color: #f5f5f2;
}

@font-face {
  font-family: yekan;
  src: url("../fonts/Yekan/BYekan+.ttf");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--original-price-color);
}

/* *************header start******************* */

#header {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 30px;
}

.container {
  width: 85%;
  margin: auto;
}

/* ***************** */

#header-top-half {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#ddkjk {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#site-logo img {
  width: 40px;
}

#top-nav-search-bar {
  width: 70%;
}

#top-nav-search-bar input {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  outline: none;
  border: none;
  background-color: #f0f0ee;
  color: var(--black-color);
}

#top-nav-search-bar input::placeholder {
  color: #c1c1bf;
  font-size: 13px;
}

#site-top-search-bar input{
  width: 500px;
}

#login-logout-section {
  width: 15%;
}

#login-logout-bts {
  border: 1px solid #f0f0ee;
  padding: 10px;
}

#login-logout-bts a {
  color: var(--lighter-link-color);
}

#login-logout-bts a:hover {
  color: var(--black-color);
}

/* ***************** */

#header-bottom-half {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
}

#nav {
}

#menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 20px;
  height: 2px;
  background: var(--text-color);
  margin: 2px 0;
}

#nav ul li {
  display: inline-block;
  padding: 10px;
}

#nav ul li a {
  color: var(--lighter-link-color);
}

div.submenu-wrapper {
  display: none;
  /* display: flex; */
  justify-content: space-between;
  gap: 20px;
  transition: all 0.6s;
  opacity: 0;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
}

.nav-main-items {
  position: relative;
}

.nav-main-items::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: red;
  height: 2px;
  width: 0%;
  transition: all 0.3s ease;
}

.nav-main-items:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: red;
  height: 2px;
  width: 100%;
  transition: all 0.3s ease;
}

.nav-main-items:hover div.submenu-wrapper {
  display: flex;
  opacity: 1;
}

.submenu-wrapper li {
  padding: 5px !important;
}

.submenu-wrapper a {
  white-space : nowrap;
  font-size: 15px;
}

/* *****icons*****/

#header-info * {
  color: var(--lighter-link-color);
  padding-bottom: 10px;
}

/* *************header end******************* */
/* *************main start******************* */

main {
  background-color: inherit;
}

section {
  margin-top: 45px;
  background-color: #f5f5f2;
}

.grid-box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px auto auto;
  grid-gap: 10px 15px;
  direction: initial;
}

.grid-box-container .hero-big-picture {
  grid-area: 2 / 2 / span 2 / span 2 !important;
}
.hero.back-to-school {
  grid-area: 1 / 1 / span 1 / span 3;
}
.grid-box-container .hero-small-picture-1{
  grid-area: 2 / 1 / span 1 / span 1 !important;
}
.grid-box-container .hero-small-picture-2{
  grid-area: 3 / 1 / span 1 / span 1 !important;
}

.grid-box-container img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

/* *************product slider start********* */

.slider-offer-section.first {
  background-color: #ff322f;
}

.slider-offer-section.second {
  background-color: #2db935;
}

.slider-offer-section .offer-section-intro-picture {
  display: flex;
  flex-direction: column;
}

.product-slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  padding: 30px;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10; /* Ensures they stay on top */
  color: white;
  width: 40px;
  height: 40px;
  padding: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.swiper-button-prev {
  left: -50px; /* Move it outside the slider */
}

.swiper-button-next {
  right: -50px; /* Move it outside the slider */
}

.swiper-pagination {
  position: absolute;
  bottom: -30px; /* Move it below the slider */
  left: 30%;
  transform: translateX(-50%);
  z-index: 10;
}

.slider-components {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px; */
}

.product-slider .slider-products-wrapper {
  /* display: flex;
  flex-direction: row;
  gap: 10px; */
}

.product-thumbnail {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  background-color: #fff;
}

.product-thumbnail img {
  width: 100%;
  max-width: 200px;
}

.thumbnail-product-price-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: nowrap;
  gap: 10px;
  margin: 20px 0px;
}

.thumbnail-product-price-section .product-price {
  color: #ff322f;
}

.thumbnail-product-price-section .product-original-price {
  color: #999997;
  text-decoration: line-through;
}

.price-discount-percent {
  background-color: #ff322f;
  color: #ffffff;
  position: absolute;
  top: 0px;
  right: 0px;
}

.show-all-products-btn {
  padding: 6px 20px 9px 20px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #fff;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}

.show-all-products-btn:hover {
  color: #000;
  background-color: #fff;
}

/* *************product slider end*********888 */

/* *************product showcase start******* */

.product-showcase {
}

.product-showcase .container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  grid-gap: 15px;
}

.product-showcase .container > div {
  width: 400px;
  max-width: 400px;
}

.product-showcase img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 1px 2px 7px -2px rgba(0, 0, 0, 0.2);
}

/* *************product showcase end******* */
/* **************newest products start********* */

.newest-products {
}

.newest-products .container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 1px 2px 7px -2px rgba(0, 0, 0, 0.2);
  padding: 25px 30px;
}

.newest-products .border-bottom {
  border-bottom: 1px solid #ccd8db;
}
/* **************newest products end********* */

/* *************main end******************* */
/* *************footer start******************* */

#footer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

#footer-top {
  background-color: #ebefef;
}

#footer-top .container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

#footer .services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccd8db;
  padding: 30px 0px 40px 0px;
}

#footer .services > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 130px;
  gap: 10px;
}

#footer #footer-nav {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 20px 0px;
}

#footer #footer-nav h3,
#footer #footer-nav h4 {
  margin-bottom: 15px;
}

#footer-nav ul {
}

#footer-nav ul li {
  list-style-type: none;
  padding: 5px;
}

#footer-nav ul li a {
  text-decoration: none;
  color: #4b4b4a;
}

.footer-search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-search {
}

.footer-search .search-box {
  display: flex;
  /* justify-content: space-between; */
  border-radius: 10px;
  border: 1px solid #ccccca;
  overflow: hidden;
}

.footer-search .search-box input {
  width: 70%;
  padding: 10px;
  border: none;
  outline: none;
}

.footer-search inout::placeholder {
  font-size: 16px;
  color: #878786;
}

.footer-search .search-box button {
  width: 30%;
  padding: 5px 25px;
  background-color: #0085c3;
  color: #fff;
  border: none;
}

.footer-search .search-box button:hover {
  background-color: #005892;
}

.social-media .icons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.social-media a {
  border-radius: 10px;
  padding: 5px 15px;
  margin: 3px;
  white-space: nowrap;
  color: #fff;
}

#footer-bottom {
  background-color: #d6dedf;
}

#footer-bottom .container {
  display: flex;
  flex-direction: column;
}

#footer-bottom #website-license {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid #c8cfd0;
  gap: 40px;
}

#footer #nemad {
  display: flex;
  gap: 20px;
}

#nemad div {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

#nemad img {
  width: 100%;
}

#footer #copyrights {
  text-align: center;
  padding: 10px;
}

/* *************footer end******************* */
/* *******************responsive******************* */

@media (max-width : 1200px) {
  #nav ul li, #header-info a {
    padding: 10px 3px;
  }
  #login-logout-bts a {
    font-size: 14px;
  }
}

@media (max-width : 1097px) {
  #nav ul li a, #header-info a {
    font-size: 15px;
  }
  #site-top-search-bar input {
    width: 430px;
  }
  /* .product-thumbnail {
  width: 220px !important;
  } */
}

@media (max-width : 970px) {
  #nav ul li a, #header-info a {
    font-size: 13px;
  }
  #site-top-search-bar input {
    width: 350px;
  }
  #footer #footer-nav > div {
    font-size: 13px;
  }
  .description, #footer #copyrights p {
    font-size: 15px;
  }
}

@media (max-width : 930px) {
  #menu-toggle {
    display: flex;
  }
  #website-menu {
    display: none;
  }
  #website-menu.show {
    display: flex;
    flex-direction: column;
  }

  .product-showcase .container > div {
    width: 310px;
  }
}

@media (max-width : 800px) {
  #footer #footer-nav {
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
  }
  #footer-bottom #website-license {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width : 775px) {
  #login-logout-bts a {
    font-size: 13px;
  }
  #login-logout-bts {
    padding: unset;
  }
  .grid-box-container {
    grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px auto auto;
  grid-gap: 10px 15px;
  direction: initial;
  }
  .grid-box-container .hero-big-picture {
    grid-area: 2 / 1 / span 1 / span 2 !important;
  }
  .hero.back-to-school {
    grid-area: 1 / 1 / span 1 / span 2;
  }
  .grid-box-container .hero-small-picture-1{
    grid-area: 3 / 1 / span 1 / span 1 !important;
  }
  .grid-box-container .hero-small-picture-2{
    grid-area: 3 / 2 / span 1 / span 1 !important;
  }

  #footer .services > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    gap: 10px;
  }

  #footer .services > div p {
    font-size: 13px;
    white-space: nowrap;
  }
}

@media (max-width : 716px) {
  .grid-box-container {
    grid-template-columns: 1fr;
  grid-template-rows: 80px auto auto auto auto;
  grid-gap: 10px 15px;
  direction: initial;
  }
  .grid-box-container .hero-big-picture {
    grid-area: 2 / 1 / span 1 / span 1 !important;
  }
  .hero.back-to-school {
    grid-area: 1 / 1 / span 1 / span 1;
  }
  .grid-box-container .hero-small-picture-1{
    grid-area: 3 / 1 / span 1 / span 1 !important;
  }
  .grid-box-container .hero-small-picture-2{
    grid-area: 4 / 1 / span 1 / span 1 !important;
  }
  #nemad div {
    width: 90px;
  }
}

@media (max-width : 670px) {
  #site-logo {
    display: none;
  }
  #site-top-search-bar input {
    width: 290px;
  }
}

@media (max-width : 625px) {
  .product-showcase .container {
    grid-template-columns: auto;
    justify-content: center;
  }
}

@media (max-width : 2000px) {

}
